body {
    padding-top:50px;
    overflow:hidden;
    font-family: Tahoma, Geneva, sans-serif;
}
/* *************************** navbar ******************************* */
.navbar-inverse{
    background-color: #181818;
}
.navbar-inverse .navbar-brand{
    color: #ffffff;
    font-size: 25px;
}
.navbar-inverse .navbar-brand span{
    color: #ce8e3c;
    font-size: 30px;
}
.navbar-inverse .navbar-nav > .active > a{
    background-color: #181818;
    color: #ce8e3c;
    font-size: 20px;
}
.navbar-inverse .navbar-nav li a {
    color: #ffffff;
    font-size: 20px;
}
.navbar-inverse .navbar-nav li:active a {
    color: #ce8e3c;
    background-color: #181818;
}
.navbar-brand{
    width: 150px;
    height: 50px;
}
.navbar-brand img{
    max-width: 100%;
    transform: translate(10px, -20px);
    -webkit-transform: translate(10px, -20px);
    -moz-transform: translate(10px, -20px);
    -o-transform: translate(10px, -20px);
}
/* *************************** carousel ******************************* */
#frist-caroursel .item img{
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
}
/* *************************** information-section ******************************* */
.pyramids-info{
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-bottom: 100px;
}
.pyramids-info .container > p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #ce8e3c;
}
.pyramids-info .pyramids{
    margin-top: 50px;
    margin-bottom: 50px;
}
.pyramids-info img{
    max-width: 100%;
    height: 60vh;
    border: 1px solid black;
    margin-bottom: 50px;
}
.pyramids-info p{
    color: #000000;
    font-size: 18px;
    line-height: 32px;
}
/* *************************** pyramid-section ******************************* */
.pyramid{
    background-color: rgb(233, 233, 233);
    padding-top: 100px;
    padding-bottom: 100px;
}
.pyramid .container > p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #ce8e3c;
}
.pyramid .content {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(185, 185, 185);
    transition: all 1.5s;
    margin-bottom: 40px;
}
.pyramid .content:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    cursor: pointer;
}
.pyramid .content img{
    max-width: 100%;
}
.pyramid .content p{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    padding: 0px 40px 15px;
}
/* *************************** hotel-section ******************************* */
.hotels
{
    padding-top: 100px;
    padding-bottom: 10px;
}
.hotels h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #ce8e3c;
}
.hotels .im{
    margin-bottom: 150px;
}
.hotels h3{
    font-size: 30px;
    color: #000000;
}
.hotels p{
    font-size: 25px;
    color: #414141;

}
.hotels .content
{
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 1;
}
.hotels .hotel-image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.hotels .hotel-image img{
    width: 100%;
    height: 100%;
}
/* *************************** contact-section ******************************* */
.contact{
    background-image: url(../images/contact1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact .cover{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
}
.contact h1{
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 100px;
    color: #ce8e3c;
}
.contact .info div{
    margin-bottom: 75px;
}
.contact i{
    font-size: 30px;
    background: #ce8e3c;
    color: #000000;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.contact .info h4{
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: left;
}
.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #a0a0a0;
    text-align: left;
}
.contact form {
    padding-top: 10px;
}
.contact form  input{
    font-size: 20px;
}
.form-group{
    margin-bottom: 25px;
}
.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    background-clip: padding-box;
    border: 1.5px solid #ffffff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contact form input:focus{
    border: 3px solid #ce8e3c;
}
.contact form .width input{
    width: 96%;
    margin: auto;
}
.contact form .width textarea{
    width: 96%;
    margin: auto;
    display: block;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    background-clip: padding-box;
    border: 1.5px solid #ffffff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 150px;
    margin-bottom: 20px;
    font-size: 20px;
}
.contact form .width textarea:focus{
    border: 4px solid #ce8e3c;
}
.contact form .width div:last-child{
    width: 100%;
}
.contact form .width input[type="submit"]{
    background-color: #ce8e3c;
    border: none;
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 50px;
}
/* ***************************  the-end  ******************************* */
.the-end i{
    font-size: 50px;
    margin: 100px auto 0;
    background: #000000;
    color: #ffffff;
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.the-end a{
    display: block;
    font-size: 30px;
    margin-bottom: 100px;
    text-align: center;
    color: #ce8e3c;
}
/* ***************************  footer  ******************************* */
.footer{
    background-color: black;
    width: 100%;
    height: 150px;
}
.footer h5{
    color: rgb(255, 255, 255);
    margin-top: 70px;
}
.footer p{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 18px;
}
.footer p span{
    color: #ce8e3c;
}
/* ***************************  go top  ******************************* */
.go-top{
    display: none;
    position: fixed;
    right: 2%;
    bottom: 3%;
    font-size: 15px;
    height: 50px;
    width: 50px;
    background-color: #ce8e3c;
    border: none;
    color: black;
    z-index: 99999;
}
/* ***************************  loding  ******************************* */
.loading-overlay {
    background:#222;
    color:#FFF;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999
}
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 50vh auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: rgb(255, 255, 255);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
  /* Start Tourist places in Alexandria Section */
  .testimonials {
      background-color: rgb(228, 228, 228);
  }
.testimonials span {font-size:18px;font-weight:bold}

.testimonials .h1 {margin-bottom:20px}

.testimonials .lead {line-height:2em;margin-bottom:10px}

.testimonials .carousel-inner {min-height:160px}

.testimonials .carousel-indicators {
    position:static;
    width:100%;
    margin-left:auto;
    padding-top:20px
}
.testimonials h2{
    color:#ce8e3c ;
}
.testimonials .carousel-indicators li {
    text-indent:0;
    width:80px;
    height:80px;
    opacity:0.4;
    border: 3px solid #FFF;
    border-radius:50%;
    overflow:hidden;
    margin:5px
}

.testimonials .carousel-indicators li.active {
    width:80px;
    height:80px;
    opacity:1;
    background:none;
    border: 3px solid #ce8e3c;
}

.testimonials .carousel-indicators li img {max-width:100%}

/* End Tourist places in Alexandria Section */
/* -------------- photo section ------------*/
.photos h1{
    color: #ce8e3c;
    margin: 100px 0;
}
.photos .col-lg-4{
    margin-bottom: 10px;
}
.photos .col-lg-4 .con{
    position: relative;
    width: 100%;
    height: 50vh;
}
.photos .col-lg-4 img{
    position: absolute;
    display: block;
    width: 90%;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.photos .con div{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 0.7s;
    visibility: hidden;
    opacity: 0;
}
.photos .con p{
    width: 100%;
    color: rgb(255, 255, 255);
    z-index: 3;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    transition: bottom 0.7s ,opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}
.photos .con i{
    z-index: 3;
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: #000000;
    background-color: #ce8e3c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: bottom 0.7s 0.2s , opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}
.photos .col-lg-4 .con:hover{
    cursor: pointer;
}
.photos .col-lg-4 .con:hover div{
    visibility: visible;
    opacity: 0.7;
}
.photos .col-lg-4 .con:hover p{
    visibility: visible;
    opacity: 1;
    bottom: 40%;
}
.photos .col-lg-4 .con:hover i{
    visibility: visible;
    opacity: 1;
    bottom: 20%;
}